pipeline/bronzetosilveringestion.json
{
	"name": "bronzetosilveringestion",
	"properties": {
		"activities": [
			{
				"name": "bronze to silver",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/sfathima@confederationcollege.ca/databricks_notebook/mysql_bronze_ingestion",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"bronze_schema": {
							"value": "@pipeline().parameters.getmetadata_values.bronze_schema",
							"type": "Expression"
						},
						"bronze_table": {
							"value": "@pipeline().parameters.getmetadata_values.bronze_tbl",
							"type": "Expression"
						},
						"silver_schema": {
							"value": "@pipeline().parameters.getmetadata_values.siler_schema",
							"type": "Expression"
						},
						"silver_table": {
							"value": "@pipeline().parameters.getmetadata_values.silver_table",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "failure  for bronze  layer ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronze to silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/log_table/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('failed to ingest source file',pipeline().parameters.getmetadata_values.bronze_tbl,'to silver table',pipeline().parameters.getmetadata_values.silver_tbl)",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(),'eastern standard time'),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": {
							"value": "@concat(activity('bronze to silver').output.error.message)",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"getmetadata_values": {
				"type": "object"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-21T16:23:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}